apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: true
    
  - name: TimescaleDB
    type: postgres
    access: proxy
    url: timescaledb-service:5432
    database: arbitrage
    user: arbitrage
    # SECURITY: Use secureJsonData with environment variable or Kubernetes secret
    # Password should be injected via Grafana provisioning with secret reference
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    jsonData:
      sslmode: disable
      timescaledb: true
